.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--main);
}

.wrapper {
  position: relative;
}

.highlighted::after {
  content: "";
  position: absolute;

  height: 1px;
  background: var(--gray-light);

  left: 0;
  top: 100%;
  margin-top: 24px;
  width: 100%;
}
