:root {
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;
  --cubic: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-delay: 500ms;
  --default-delay: 250ms;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
